@import '../../css/variables.css';
@import '../../css/tooltip.css';

article {
  padding: var(--space-small) 0 var(--space-small) 4px;
  border-bottom: 1px solid var(--black-10);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  line-height: 2em;
}

article .stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

article .stats div {
  margin-left: 10px;
  font-family: var(--font-fira);
  font-size: 14px;
}

article .stats .published {
  color: var(--black-50);
  font-weight: normal;
}

article .stats .author-name {
  color: var(--black-90);
  font-weight: bold;
}

article .stats img {
  width: 22px;
  height: 22px;
}

.bar {
  width: 120px;
  text-align: left;
  margin-left: 0;
  font-size: 12px;
  line-height: 12px;
}

.bar:first-child {
  margin-right: 10px;
}

.bar .quality {
  border: 1px solid var(--quality);
}
.bar .popularity {
  border: 1px solid var(--popularity);
}
.bar .maintenance {
  border: 1px solid var(--maintenance);
}

.description {
  color: var(--black-60);
  font-size: 16px;
}

.keyword {
  padding: 4px 8px;
  background-color: var(--black-5);
  text-decoration: none;
  margin-right: 8px;
  font-size: 14px;
}
