* {
  box-sizing: border-box;
  position: relative;
}

href,
body {
  padding: 0;
  margin: 0;
}

h3 {
  color: var(--black-90);
  font-weight: var(--bold);
  margin: 0;
}

a,
a:visited {
  color: var(--black-90);
  text-decoration: none;
}

.App {
  color: var(--black-90);
  font-family: var(--font-source);
}
