@import './css/variables.css';
@import './css/styles.css';

header {
  display: block;
  margin: auto;
  z-index: 2;
  box-shadow: 0 4px 13px -3px rgba(0, 0, 0, 0.10196);
  border-top: 3px solid;
  border-image: linear-gradient(
      139deg,
      #fb8817,
      #ff4b01,
      #c12127,
      #e02aff
    )
    3;
}

header .emoji-heart {
  padding-right: var(--space-large);
  padding-left: 4px;
}

.wrapper {
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  align-items: center;
  padding: var(--space-small) var(--space-large);
}

main {
  width: 100%;
}

header nav,
header form,
main .breadcrumbs {
  width: 100%;
  margin: auto;
  color: var(--black-70);
  background-color: #fff;
  border-top: 1px solid #d2d2d2;
}

main .breadcrumbs {
  background-color: #f9f9f9;
  color: var(--black-90);
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid var(--black-10);
}

header nav {
  color: var(--black-90);
  font-size: 14px;
  height: 53px;
  display: flex;
  align-items: center;
}

header nav .poppins {
  font-family: var(--font-poppins);
}

header form {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--black-10);
}

header form label {
  background-color: var(--black-5);
  padding: calc(var(--space-small) - 1px) 0
    calc(var(--space-small) - 1px) 16px;
  line-height: 14px;
  margin-left: 16px;
}

input {
  background-color: var(--black-5);
  font-family: var(--font-fira);
  font-size: 14px;
  line-height: 16px;
  padding: var(--space-small) 14px;
  border: none;
  font-weight: 300;
  letter-spacing: 0px;
  flex-grow: 1;
}

input[type='submit'] {
  background-color: var(--maintenance);
  color: white;
  font-family: var(--font-source);
  width: 100px;
  border: none;
  line-height: 16px;
  flex-grow: 0;
}

nav,
.breadcrumbs {
  justify-content: space-between;
  align-items: center;
}

aside {
  padding: var(--space-small) 0 var(--space-small)
    var(--space-large);
  margin-right: 8px;
}

.content {
  display: block;
  padding: var(--space-small) var(--space-large);
  color: var(--black-70);
}

.content {
  flex-grow: 1;
}

.sidebar {
  position: relative;
  display: block;
}

.sidebar > p {
  color: var(--black-90);
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.sidebar > button {
  position: relative;
  padding: 8px 0;
  margin: 8px 0;
  color: var(--black-70);
  width: 100%;
  display: flex;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid;
  font-weight: 600;
  font-size: 14.8px;
  background-color: #fff;
  box-sizing: border-box;
}

button.optimal {
  border-color: var(--optimal);
}
button.quality {
  border-color: var(--quality);
}
button.popularity {
  border-color: var(--popularity);
}
button.maintenance {
  border-color: var(--maintenance);
}

.flex {
  width: 100%;
  display: flex;
}

.search {
  width: 15px;
  height: 15px;
  margin-top: 2px;
}

.npm {
  width: 84px;
  height: 30px;
  padding-top: 1px;
}

@media (min-width: 960px) {
  .mainWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
  }
  aside {
    flex: 0 0 20%;
  }
}
