@import './variables.css';

* {
  box-sizing: border-box;
}

.App {
  color: var(--black-90);
  font-family: var(--font-source);
}

header {
  display: block;
  margin: auto;
  max-width: var(--max-width);
  padding: 2em;
}

aside,
.content {
  padding: 0 2em;
  color: var(--black-70);
}

.content {
  flex-grow: 1;
}

nav,
.breadcrumbs,
.sidebar > div {
  padding: 1em 0;
  color: var(--black-70);
  min-width: 200px;
  display: flex;
}
.optimal {
  border-bottom: 1px solid var(--optimal);
}
.quality {
  border-bottom: 1px solid var(--quality);
}
.popularity {
  border-bottom: 1px solid var(--popularity);
}
.maintenance {
  border-bottom: 1px solid var(--maintenance);
}

form {
  display: flex;
}

nav,
.breadcrumbs {
  justify-content: space-between;
}

input {
  background-color: var(--black-5);
  width: calc(100% - 10px);
  border: none;
  font-family: var(--font-fira);
  font-size: 14px;
  padding: 1em;
}

input[type='submit'] {
  background-color: var(--maintenance);
  color: white;
  font-family: var(--font-source);
  width: 100px;
}

@media (min-width: 960px) {
  main {
    display: flex;
    justify-content: space-between;
  }
  aside {
    width: 20%;
  }
}
